
<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">BETA Universe Systems Initiative Table Application</h2>
      <p>CS 426 Senior Project in Computer Science, Spring 2022, at UNR, CSE Department</p>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
            </li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          <ul class="social-media-list">
          </ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p></p>
        </div>
      </div>
  
    </div>
  
  </footer>